.overAllContainer {
    height : 100vh;
    background-color: black;
    color : white;
    display : flex;
    flex-direction: column;
}


.inputContainer {
    height : 5%;
    width : 50%;
    border : 2px solid lightblue;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    padding : 5px;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    height : 20%;
}

.controlButtonsContainer {
    width : 20%;
    /* // background-color: orange; */
    justify-self: end;
}

.inputTextStyling {
    height : 100%;
    width : 80%;
    border: none;
    background-color: black;
    color : white;
}

.givenSpeechTextContainer {
    width : 75%;
    margin-right : 4px;
    height : 90%;
}

button {
    width : 50px;
    border-radius: 20px;
    border: 2px solid lightblue;
    margin-left : 3px;
    height : 45px;
    color : black;
    background-color: white;
}

button:hover {
    background-color: lightblue;
    color : white;
}


.conversationsContainer {
    display : flex;
    flex-direction: column;
    height : 90%;
    overflow-y: scroll;
    padding : 20px;
}

.eachConversationContainer {
    width : 60%;
    border : 3px solid lightblue;
    border-radius: 20px;
    color : white;
    margin-top : 15px;
    padding : 15px;
}

.botTextStyling {
    align-self: flex-start;
    /* min-height : 50px; */
}

.clientTextStyling {
    align-self: flex-end;
    /* min-height : 50px; */
}